.adress {
    display: inline-block;
    margin-right: 70px;
}

.adress__item:not(:last-child) {
    margin-bottom: 9px;
}

.adress__sity {
    display: block;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--main-background);
    background: var(--background-hiro-footer);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__text {
    display: block;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background: var(--background-hiro-footer);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__list :hover,
.adress__list :focus {
    color: var(--accent-color);
}