/* -----------FOOTER----------- */
.footer-basement {
    padding-top: 60px;
    padding-bottom: 60px;

    background: var(--background-hiro-footer);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-container {
    display: flex;
    align-items: baseline;
}
