/* -----------HEADER----------- */

.header {
    border: 1px solid #ececec;
}

.main-nav {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    margin-left: 93px;
}

.header-nav li {
    margin-right: 50px;

    &:last-child {
            margin-right: 0;
        }
}



.header-nav a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    text-decoration: none;
}

.header-nav .list {
    cursor: pointer;
}

.header-nav .header-link .current {
    color: var(--accent-color);
}

.header-nav .header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-link.link.current {
    position: relative;
    color: var(--accent-color);
}

.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;

    bottom: 0;
    position: absolute;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.contact-nav {
    display: flex;
    margin-left: auto;
}

.contact-nav a {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contact-nav li {
    margin-right: 50px;

    &:last-child {
            margin-right: 0;
        }
}



.contact-nav.link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contact-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    color: var(--secondary-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
}



.contact-icons {
    fill: currentColor;
    margin-right: 10px;
}