/* -----------IMAGES----------- */

.image__list {
    display: flex;
    flex-wrap: wrap;

    background: var(--main-background);
}

.image__list li {
    margin-right: 30px;

    &:nth-child(3n) {
            margin-right: 0;
        }
}

.image__thumb {
    position: relative;
}

.image__desc {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--main-white-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}