.logo {
    font-family: "Raleway";
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-logo);
    text-decoration: none;
}

.logo-color {
    margin-bottom: 28px;
    display: block;

    font-family: Raleway;
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--main-white-color);
}

.logo-style {
    color: var(--accent-color);
}